<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="Addnewpost">Addnew</a>
        <table border="1">
    <tr>
        <th>Image</th>
        <th>Description</th>
        <th>Date</th>
        <th>Doctor</th>
        </th>
    </tr>
    {% for i in post %}
    <tr>
        <td><img src="{{i.image.url}}" alt="" height="100px", width="100px"></td>
        <td>{{i.description}}</td>
        <td>{{i.date}}</td>
        <td>{{i.DOCTORID.name}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>