<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table border="1">
    <tr>

        <th>Medicine</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th><a href="/addmedicine"><button>add</button></a></th>
        
        </th>
    </tr>
{% for i in medicines %}
        <td>{{i.medicine}}</td>
        <td>{{i.description}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.price}}</td>
        <td>
            <a href="/edit/{{i.id}}"><button>edit</button></a>
            <a href="/DeleteMedicine/{{i.id}}"><button>delete</button></a></td>
            
        </tr>

        {% endfor %}
    </table>
</body>
</html>