<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/adddoctor"><button>add</button></a>
    <table border="1">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Specialisation</th>
        <th>Hospital name</th>
        <th>age</th>
        </th>
    </tr>
    {% for i in doctor %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.address}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.specialisation}}</td>
        <td>{{i.hospitalname}}</td>
        <td>{{i.age}}</td>
        <td>
        <td>
            <a href="/editdoctor/{{i.id}}"><button>edit</button></a>
            <a href="/DeleteDoctor/{{i.id}}"><button type="submit">delete</button></a></td>
    </tr>
    {% endfor %}
</body>
</html>